<h2>Select An Event For More Details</h2>

<% if @events.empty? %>
  <%= "There are no events scheduled at this time" %>
<% else %>
  <% @events.each do |event| %>
    <p>
      <b><a href="/events/<%= event.id %>"><%= event.title %></a></b> 
      <br>
      Created By: <%= event.user.name %>
      <br>
      Date: <%= event.date %>
    </p>
  <% end %>
<% end %>