<style>
  #button1 , #button2 {
    display:inline-block;
  }
  .divide {
    width:20px;
    height:auto;
    display:inline-block;
  }

</style>

<h2><%= @current_event.title %></h2>
<b>Created By:</b> <%= @current_event.user.name %>

<br>
<br>

<%= @current_event.description %>

<br>
<br>

<b>Location:</b> <%= @current_event.location %>
&emsp;
<b>Date:</b> <%= @current_event.date %>
&emsp;
<b>Time:</b> <%= @current_event.time %>

<% if event_belongs_to_user? %>
  <br>
  <br>
  <div id="button1">
    <a href="/events/<%= @current_event.id %>/edit" %><button>Edit Event</button></a>
  </div>

  <div class="divide"></div>

  <div id="button2">
    <form method="post" action="/events/<%= @current_event.id %>">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Delete Event">
    </form>
  </div>
<% end %>

