<style>
  #button1 , #button2 {
    display:inline-block;
  }
  .divide {
    width:20px;
    height:auto;
    display:inline-block;
  }
</style>

<p>
  <h2><%= get_event.title %></h2>
  <b>Created By:</b> <%= get_event.user.name %>
</p>

<p>
  <%= get_event.description %>
</p>


<p>
  <b>Location:</b> <%= get_event.location %>

  &emsp;

  <b>Date:</b> <%= get_event.date %>

  &emsp;

  <b>Time:</b> <%= get_event.time %>
</p>

<p>
  <% if event_belongs_to_user? %>
    <div id="button1">
      <a href="/events/<%= get_event.id %>/edit" %><button>Edit Event</button></a>
    </div>

    <div class="divide"></div>

    <div id="button2">
      <form method="post" action="/events/<%= get_event.id %>">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Delete Event">
      </form>
    </div>
  <% end %>
</p>